.layout {
  display: flex;
}

@media screen and (max-width: 768px) {
  .layout {
    &__mobile {
      position: absolute;
      width: 100%;
      right: -100%;
      height: 100vh;
      z-index: 2;
      transition: 0.1s all ease-in-out;

      &_open {
        right: 0;
      }
    }
  }
}
