@import '../../../variables.scss';

.sideMenu {
  width: 4%;
  height: 100vh;
  padding: 10px;
  background-color: $gray;

  &__wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .sideMenu {
    display: none;
  }
}
